# https://www.github.com/Noakhali/spammer 

Makefile.spammer 
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# https://www.github.com/Noakhali/spammer/

Noakhali.cache
/Noakhali.log
/Noakhali-*.log
/noakhali.m4
/noakhali
/noakhali.guess
/noakhali.h.in
/noakhali.log
/noakhali.status
/noakhali.sub
/noakhali 
/noakhali.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.github.com/Noakhali /spammer/

/spammer.sh

# https://www.github.com/Noakhali /spammer

/spammer .tex

# https://www.github.com/Noakhali/spammer/

m4/noakhali.m4
m4/noakhali.m4
m4/noakhali.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Noakhali spamming team  
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
